# OS X temporary files that should never be committed
.DS_Store

# c.f. http://www.westwind.com/reference/os-x/invisibles.html
.Trashes

# c.f. http://www.westwind.com/reference/os-x/invisibles.html
*.swp

#    For the main ones I use (e.g. Eclipse), it should be excluded 
#    from source-control, but YMMV
*.lock

# Xcode temporary files that should never be committed
*~.nib

# Xcode build files -
DerivedData/

# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"
build/

# Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
# .pbxuser: http://lists.apple.com/archives/xcode-users/2004/Jan/msg00193.html
*.pbxuser
# .mode1v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
*.mode1v3
# .mode2v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
*.mode2v3
# .perspectivev3: http://stackoverflow.com/questions/5223297/xcode-projects-what-is-a-perspectivev3-file
*.perspectivev3

#    NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Xcode 4 - semi-personal settings
xcuserdata

# Xcode 4 - Deprecated classes
*.moved-aside

#Development folder
/dev/
